#imagenGrande {
  display: block;
  margin: auto;
  margin-top: 20rem;
  grid-area: imagen;
  width: 70%;
}
@media (max-width: 1024px) {
  #imagenGrande {
    margin-top: 20%;
  }
}
@media (max-width: 768px) {
  #imagenGrande {
    margin-top: 17rem;
  }
}
@media (max-width: 425px) {
  #imagenGrande {
    width: 90%;
    margin-top: 60vh;
    margin-bottom: 10px;
  }
}
