
/*LAPTOP*/
@media (max-width: 1024px) {
    
    h2 {
      font-size: 30px;
      padding-top: 5px;
    }
    h3 {
      font-size: 20px;
      text-align: left;
    }
    .row {
      margin-top: 9vh;
      margin-left: 35vw;
    }
    .btn {
      width: 100px;
      margin: auto;
    }
    footer {
      font-size: 20px;
      height: 40vh;
      width: 100vw;
    }
    #arriba {
      font-size: 25px;
    }
  }
  
  /*TABLET*/
  @media (max-width: 768px) {
   
    .titulo1 {
      font-size: 45px;
      margin-top: 60vh;
    }
    h2 {
      font-size: 30px;
      padding-top: 5px;
    }
    h3 {
      font-size: 15px;
      text-align: left;
      margin: 15px;
    }    
   
    .row {
      margin-top: 9vh;
      margin-left: 50vh;
    }
    .btn {
      width: 100px;
      margin: auto;
    }
    
  
  /*MOBILE*/
  @media (max-width: 425px) {
  
    .titulo1 {
      font-size: 25px;
      margin-top: 60vh;
    }
    .tituloContactanos {
      font-size: 25px;
      margin-top: 55vh;
    }
    h2 {
      font-size: 20px;
      padding-top: 5px;
      margin: 5vh;
    }
    .titulo2 {
      font-size: 20px;
    }
   
    h3 {
      font-size: 15px;
      margin: 10px;
      text-align: center;
      margin-bottom: 5px;
    }
    .cajaNegocio {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .imagenNegocio1 img {
      width: 80vw;
      height: 30vh;
      padding-left: 0;
    }
    .imagenNegocio2 img {
      width: 80vw;
      height: 30vh;
      padding-left: 0;
    }
    .textoNegocio {
      width: 80vw;
      padding-left: 0;
      margin-left: 20px;
    }
    .mapaNegocio iframe {
      width: 80vw;
      height: 50vh;
      padding-left: 5vw;
      padding-right: 0;
    }
    .row {
      margin-top: 9vh;
      margin-left: 3vh;
      margin-right: 3vh;
    }
    .btn {
      width: 100px;
      margin: auto;
    }
    
  }
}