.titulo1 {
    margin: 50px;
    margin-top: 25vh;
    border-bottom: #bac751 solid 4px;

    @extend %fontTitulo1;
}

.titulo1-modifier {
    margin-top:40vh;
}

.cajasProductos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  
    .cuadrosProductos {
        margin: 15px;
        text-align: center;
    }
}

.titulo2{
    color: $darkerGreen;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin: 40px;
}

.titulo3 {
    color: $orange;
    font-size: 30px;
    margin: 30px;
    text-align: center;
}
  
.tresProductosNuevos {
     align-items: center;

    @include flex(flex, row, space-evenly, nowrap)
  
    .tresProductosNuevos__productosNuevos {
        margin: 15px;
        text-align: center;
        animation: pulse;
        animation-iteration-count: infinite;

        @include styles(#f8bf0a,20px,bold)
    }
}
  
.topTenCaja {
    margin: 100px;

    @extend %boxShadow;
  
    .topTenCaja__lista10 {
        margin-left: 10vw;
        font-size: 20px;
        text-align: left;
        font-weight: bold;
        display: inline-block;
    }
  
    .topTenCaja__lista10 li {
        list-style: decimal;
        line-height: 50px;
    }
}
  