.titulo2 {
    color: $darkerGreen;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin: 40px;
  }

.cajasRecetas {
    align-items: center;
    margin-bottom: 60px;

    @include flex(flex, row, space-evenly, nowrap)
  
    .recetas a{
        font-size: 25px;
        margin: 15px;
        color: #5d6329;
        text-align: end;
        text-decoration: none;
        padding-left: 10vh;
    }
          
    .recetaImagen {
        width: ($ancho/2)+2;
        height: 38vh;
        transition: 0.5s;
    }
  
    .recetaImagen:hover {
        width: ($ancho/2)+7;
        height: 43vh;
    }
    
}
  